VITE_SUPABASE_URL=https://wxljnefsfqnomnzfodeq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=YOUR_SUPABASE_PUBLISHABLE_DEFAULT_KEY
VITE_SUPABASE_BUCKET=files
VITE_SUPABASE_BUCKET_PUBLIC=true
VITE_SUPABASE_SIGNED_URL_TTL_SECONDS=3600
VITE_RECAPTCHA_SITE_KEY=6LdY4z0tAAAAAIOMjk5LlOOfQdR1R7Yf8ZyudF7n
